@import "../../vars.css";

.container {
    background-color: rgba(12, 12, 12, 0.3);
    border-radius: 15px;
    padding: 30px 30px;
    margin-top: 50px;
    /*height: 300px;
     display: flex;
    flex-direction: column;
    overflow: hidden; */
}

.tabList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50vh;
}

.tab {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1.2px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
}

.content{
    display: block;
    width: 90%;
    background-color: var(--primary-color);
    padding: 20px 30px;
    border-radius: 15px;
   /*  height: 100%;
    overflow-y: auto; */
}

.subContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
}

.subtabList {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: 320px;
    gap: 10px;
}

.subtab {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1.2px;
    cursor: pointer;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    width: max-content;
}

.selected {
    background-color: var(--primary-color);
    border-radius : 10px 10px 0  0;
    font-weight: 500;
 }

 .selectedSubtab {
    background-color: var(--primary-color);
    border-radius : 10px;
 }

 .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 15px;
 }

 .header h3 {
    font-weight: bolder;
 }

 .subTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    margin-bottom: 10px;
    gap: 20px;
 }

 .subTitle h4 {
    font-weight: bold;
 }

 .rating {
    color: var(--color-dark);
 }

 @media screen and (max-width : 830px) {

    .tabList {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .subtabList {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(44, 11, 71, 0.3);
        width: 320px;
        gap: 10px;
    }
    
    .subContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 20px;
        gap: 50px;
    }
 }