@import "../../vars.css";

.container {
    color: var(--text-color);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.subtitle {
    color: var(--text-color);
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 50px;
    margin-left: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    align-items: flex-start;
    gap: 11px;
}

.languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}

.language {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.languageImgContainer {
    background-color: var(--primary-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.languageImgContainer img {
    width : 75px;
}

.language:hover {
    transform: scale(1.1);
    transition: 0.33s ease-in-out;
}

.language p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
}


@media screen and (max-width : 830px) {

    .title {
        display: flex;
    }

    .languages {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}