:root {
    /* Colors */
    --text-color : white;
    --primary-color : #bf711e;
    --secondary-color : #99541f;
    --color-dark : rgb(44, 11, 71);
    --bg-color : #2f2636;

    /* Font */
    --font-roboto : "Roboto";
}